<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="hero">
    <h1>{{ hero.name }} Details</h1>
    <p>id: {{ hero.id }}</p>
    <p>imgSrc: {{ hero.imgSrc }}</p>
    <ng-container *ngIf="hero.imgSrc">
      <img [src]="hero.imgSrc">
    </ng-container>
  </ng-container>

  <div>
    <button (click)="takePicture()">Bild aufnehmen</button>
  </div>
</ion-content>
